@model UserModel

<form id="myform" asp-controller="Ulohy" asp-action="Form" method="post">
    <div class="formular">
        <label for="inputText">Meno: </label>
        <input asp-for="Name" type="text" class="form-control" id="username" placeholder="Zadejte text">
        <label for="inputText">Priezvisko: </label>
        <input asp-for="Surname" type="text" class="form-control" id="surname" placeholder="Zadejte text">
        <label for="inputText">E-Mail: </label>
        <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Zadejte text">
        <label for="inputText">Vek: </label>
        <input asp-for="Age" type="text" class="form-control" id="age" placeholder="Zadejte text">
        <label for="inputText">Mesto: </label>
        <input asp-for="City" type="text" class="form-control" id="city" placeholder="Zadejte text">
        <label for="inputText">Tel. Cislo: </label>
        <input asp-for="PhoneNumber" type="text" class="form-control" id="number" placeholder="Zadejte text">
    </div>
    <button type="submit" class="btn btn-primary" id="btn1">Odoslat</button>
</form>