@model List<UserInfo>

<div class="text-center">

    <table class="tabulka">
        <tr>
            <th>Meno</th>
            <th>Priezvisko</th>
            <td>Email</td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
            </tr>
        }
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Surname</td>
            </tr>
        }
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
            </tr>
        }
    </table>
</div>