@{
    ViewData["Title"] = "Uloha2";
}

<div class="text-center">
    <div class="karta">
        <img src="~/images/unicorn.jpg" alt="UOK" class="karta-img" />
        <h1>Jan Novak</h1>
        <p>Frontend Developer</p>
        <a class="btn-secondary" href="/">Spat na home</a>
    </div>
</div>