@{
    ViewData["Title"] = "Uloha1";
}

<div class="text-center">
    <h1 class="display-4">Vitaj na stranke</h1>
    <p>Tato stranka je jednoducha s vlastnym stylon.</p>

    <a class="btn-primary" href="/">Spat na home</a>
</div>