@{
    ViewData["Title"] = "Uloha6";
}

<div class="lol">
    <h1>Toggle textu</h1>
    <p id="text">Tento text sa ma skryvat a zobrazovat.</p>
    <button id="tlacidlo">Zobrazit/Skryt</button>
</div>

<script>
      document.getElementById("tlacidlo").addEventListener("click", function () { const text = document.getElementById("text"); text.style.display = (text.style.display === 'none') ? 'block' : 'none';});
</script>